<%layout('layouts/boilerplate.ejs') %>

    <main class="manage-main">
        <h1 class="manage-h">Manage Data!</h1>
        <%for(detail of details){%>
            <div class="manage-div">
                <h2><%=`${detail.month} ${detail.year}`%></h2>
                <% if(detail.note){%>
                    <p>Note: <%=detail.note%></p>
                <%}%>
                <h3><%=`Earnings: ${detail.earnings}`%></h3>
                <h3><%=`Categories: ${detail.earningsCat}`%></h3>
                <h3><%=`Expenses: ${detail.expenses}`%></h3>
                <h3><%=`Categories: ${detail.expenseCat}`%></h3>
                
                <form action="/trackmint/data/<%=currentUser._id%>/manage/<%=detail.id%>?_method=DELETE" method="POST" class="delete-form">
                <button class="delete-btn"><a>Delete Data</a></button>
                </form>
                <button class="edit-btn"><a href="/trackmint/data/<%=currentUser._id%>/manage/<%=detail.id%>">Edit Data</a></button>
            </div>
        <%}%>
    </main>
